*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App {
  text-align: center;
} */

.chkbox{
  padding-left: 15px;
  font-size: 18px;
  color: #000000;

}

.checkContainer{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;  

}
.checkmark{
  background-color: #E5E5E5;
}
.addContainer{
  display: flex;
  text-align: center;
  justify-content: center; 
}
