*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .listText{

 }
.firstP{
 color: #ACACAC;
font-size: 24px;
letter-spacing: 0.2px;
}
.secondP{

font-size: 36px;
line-height: 54px;
/* identical to box height */

letter-spacing: 0.002em;
text-transform: capitalize;


}