body {
  background-color: #e5e5e5;
}

.listText {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.firstP {
  color: #acacac;
  font-size: 24px;
  letter-spacing: 0.2px;
}
.secondP {
  color: #666666;
  font-size: 36px;
  letter-spacing: 0.002em;
}
@media screen and (max-width: 600px) {
  .listText {
    padding-top: 50px;
  }
  .firstP {
    color: #acacac;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  .secondP {
    color: #666666;
    font-size: 18px;
    letter-spacing: 0.2px;
  }
}
